doctype html
html.js(lang='en')
  head
    meta(charset='utf-8')
    title File Link
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,400')
    style.
        body{
          font-family: Roboto, sans-serif;
          color: #0f3c4b;
          background-color: #e5edf1;
          padding: 5rem 1.25rem; /* 80 20 */
        }

        .container{
          width: 100%;
          max-width: 680px; /* 800 */
          text-align: center;
          margin: 0 auto;
        }
        .box{
          font-size: 1.25rem; /* 20 */
          background-color: #c8dadf;
          position: relative;
          padding: 100px 20px;
        }
        .box{
          outline: 2px dashed #92b0b3;
          outline-offset: -10px;

          -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
          transition: outline-offset .15s ease-in-out, background-color .15s linear;
        }
        /*Change color on dragover*/
        .box.is-dragover{
          outline-offset: -20px;
          outline-color: #c8dadf;
          background-color: #fff;
        }
        /*Display file icon inline*/
        .box .box__icon{
          width: 100%;
          height: 80px;
          fill: #92b0b3;
          display: block;
          margin-bottom: 40px;
        }

        .box.is-uploading .box__input,{
          visibility: hidden;
        }

        .box__uploading,
        .box__success,
        .box__error{
          display: none;
        }

        .box.is-uploading .box__uploading,
        .box.is-success .box__success,
        .box.is-error .box__error{
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;

          -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
        }

        .box__uploading{
          font-style: italic;
        }

        /*Animate Success */
        .box__success{
          -webkit-animation: appear-from-inside .25s ease-in-out;
          animation: appear-from-inside .25s ease-in-out;
        }

        @-webkit-keyframes appear-from-inside{
          from  { -webkit-transform: translateY( -50% ) scale( 0 ); }
          75%   { -webkit-transform: translateY( -50% ) scale( 1.1 ); }
          to    { -webkit-transform: translateY( -50% ) scale( 1 ); }
        }

        @keyframes appear-from-inside{
          from  { transform: translateY( -50% ) scale( 0 ); }
          75%   { transform: translateY( -50% ) scale( 1.1 ); }
          to    { transform: translateY( -50% ) scale( 1 ); }
        }

        .js .box__file{
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }

        .js .box__file + label{
          max-width: 80%;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
        }

        .js .box__file + label:hover strong,
        .box__file:focus + label strong,
        .box__file.has-focus + label strong{
          color: #39bfd3;
        }

        .js .box__file:focus + label,
        .js .box__file.has-focus + label{
          outline: 1px dotted #000;
          outline: -webkit-focus-ring-color auto 5px;
        }

  body
    .container(role='main')
      form#upload-form.box(method='post', action='/upload', enctype='multipart/form-data', novalidate='')
        .box__input
          svg.box__icon(xmlns='http://www.w3.org/2000/svg', width='50', height='43', viewbox='0 0 50 43')
            path(d='M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z')
          input#file.box__file(type='file', name='upload')
          label(for='file')
            strong Choose a file
            span.box__dragndrop  or drag it here.
          br
          label#shortenedUrl
        .box__uploading Uploading…
        .box__success
          | Done! 
        .box__error
          | Error! 
    script.
        'use strict';

        document.addEventListener("DOMContentLoaded", function(event) { 
            let form = document.getElementById('upload-form')
            let input  = form.querySelector('input[type="file"]')
            let label  = form.querySelector('label')
            let errorMsg  = form.querySelector('.box__error span')
            let restart = form.querySelectorAll('.box__restart')
            var droppedFiles = false
            
            var fileUpload = function(){
              if(form.classList.contains('is-uploading')){
                return false
              }

              form.classList.add('is-uploading');
              form.classList.remove('is-error');

              var fileData = new FormData();
              
              if(droppedFiles){
                Array.prototype.forEach.call( droppedFiles, function( file ){
                  fileData.append( input.getAttribute('name'), file );
                });
              }

              let xhr = new XMLHttpRequest();
              xhr.open(form.getAttribute('method'), form.getAttribute('action'), true );
              
              xhr.onload = function(){
                form.classList.remove('is-uploading');
                if(xhr.status >= 200 && xhr.status < 400){
                  var data = JSON.parse(xhr.responseText);
                  document.getElementById('shortenedUrl').textContent = 'Your file is now at ' + data.link + '. It will be available for 7 days'
                }
                else alert('Error. Please, contact the webmaster!');
              };

              xhr.onerror = function() {
                form.classList.remove('is-uploading');
                alert('Error. Please, try again!');
              };

              xhr.fail = function(err){
                console.log(err)
              }
              xhr.send(fileData);
            }   

            // letting the server side to know we are going to make an Ajax request
            var ajaxFlag = document.createElement('input')
            ajaxFlag.setAttribute('type', 'hidden')
            ajaxFlag.setAttribute('name', 'ajax')
            ajaxFlag.setAttribute('value', 1)
            form.appendChild(ajaxFlag)
            
            input.addEventListener('change', function(e){
              fileUpload();
            });

            ['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop'].forEach(function(event){
              form.addEventListener(event, function(e){
                e.preventDefault();
                e.stopPropagation();
              });
            });
            
            ['dragover', 'dragenter'].forEach(function(event){
              form.addEventListener(event, function(){
                form.classList.add('is-dragover');
              });
            });

            ['dragleave', 'dragend', 'drop'].forEach(function(event){
              form.addEventListener( event, function(){
                form.classList.remove('is-dragover');
              });
            });

            form.addEventListener('drop', function(e){
              droppedFiles = e.dataTransfer.files;
              fileUpload();
            });     
          })